# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Virtual environments
venv/
.env/

# Ignore ALL training checkpoints
checkpoints/*.pth

# Allow ONLY quantized deployment model
!models/best_model_quantized.pth

# Datasets
Datasets/
Test_Dataset/
data/
*.zip
*.rar
